-- Example 0
4
fishing
gardening
swimming
fishing
4
hunting
fishing
fishing
biting

4
-- Example 1
4
variety
diversity
loquacity
courtesy
4
talking
speaking
discussion
meeting

1
-- Example 2
4
snakes
programming
cobra
monty
4
python
python
anaconda
python

3
-- Example 3
30
t
o
p
c
o
d
e
r
s
i
n
g
l
e
r
o
u
n
d
m
a
t
c
h
f
o
u
r
n
i
30
n
e
f
o
u
r
j
a
n
u
a
r
y
t
w
e
n
t
y
t
w
o
s
a
t
u
r
d
a
y

6
