-- Example 0
4
a
b
c
d
2

a
-- Example 1
5
a
b
c
d
e
3

d
-- Example 2
5
alpha
beta
gamma
delta
epsilon
1

epsilon
-- Example 3
2
a
b
1000

a
-- Example 4
26
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
17

n
-- Example 5
23
zlqamum
yjsrpybmq
tjllfea
fxjqzznvg
nvhekxr
am
skmazcey
piklp
olcqvhg
dnpo
bhcfc
y
h
fj
bjeoaxglt
oafduixsz
kmtbaxu
qgcxjbfx
my
mlhy
bt
bo
q
9000000

fxjqzznvg
